.card {
    position: relative;
    color: black;
    padding: 20px;
    border-radius: 20px;
    transition: .25s;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0px 6px 40px 0px rgba(38, 38, 38, 0.22);
}

.card:hover .in_card {
    display: block;
    z-index: 3;
}

.card:hover .in_card:hover>img {
    content: url("http://localhost:5000/api/static/image/favoriteHover.png");
}
.card:hover .in_card.favorite>img {
    content: url("http://localhost:5000/api/static/image/favoriteActive.png");
}


.card_content-title {
    margin-top: 20px;
}

.card_content-price{
     font-size: 24px;
     font-family: OpenSansBold;
 }

.thin {
    width: 1400px;
    height: 76px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.thin .card_content-img {
    width: 1400px;
    height: 76px;
}

.s {
    width: 355px;
    height: 615px;
}

.s .card_content-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.s .card_content-date {
    font-size: 14px;
    color:rgba(181, 183, 189, 1);
}

.s .card_content-address {
    font-size: 14px;
    color:  rgba(131, 134, 144, 1);
    margin-bottom: 5px;
}

.s .card_content-price{
    margin-top: 15px;
    font-size: 24px;
    font-family: OpenSansBold;
}

.l {
    width: 730px;
    height: 562px;
}

.l .card_content-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.l .card_content-date {
    font-size: 14px;
    color:rgba(181, 183, 189, 1);
}

.l .card_content-address {
    font-size: 14px;
    color:  rgba(131, 134, 144, 1);
    margin-bottom: 5px;
}

.l .card_content-price{
    margin-right: 50px;
    font-size: 32px;
    font-family: OpenSansBold;
}

.xxl {
    width: 1440px;
    height: 552px;
}

.xxl .card_content-img {
    width: 1400px;
    height: 417px;
}

.xxl .card_content-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.xxl .card_content-date {
    font-size: 14px;
    color:rgba(181, 183, 189, 1);
}

.xxl .card_content-address {
    margin-right: 50px;
    font-size: 14px;
    color:  rgba(131, 134, 144, 1);
    margin-bottom: 5px;
}

.xxl .card_content-price{
    margin-right: 50px;
    font-size: 32px;
    font-family: OpenSansBold;
}



.xl {
    width: 864px;
    height: 478px;
}

.xl .card_content-img {
    width: 824px;
    height: 333px;
}

.xl .card_content-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.xl .card_content-date {
    font-size: 14px;
    color:rgba(181, 183, 189, 1);
}

.xl .card_content-address {
    font-size: 14px;
    color:  rgba(131, 134, 144, 1);
    margin-bottom: 5px;
}

.xl .card_content-price{
    margin-right: 50px;
    font-size: 32px;
    font-family: OpenSansBold;
}

.xs {
    width: 288px;
    height: 518px;
}

.xs .card_content-img {
    width: 248px;
    height: 333px;
}

.xs .card_content-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.xs .card_content-date {
    font-size: 14px;
    color:rgba(181, 183, 189, 1);
}

.xs .card_content-address {
    font-size: 14px;
    color:  rgba(131, 134, 144, 1);
    margin-bottom: 5px;
}

.xs .card_content-price{
    margin-top: 15px;
    font-size: 24px;
    font-family: OpenSansBold;
}







