.create_ad_size-item {
    display: flex;
    align-items: center;
}

.create_ad_size-item + .create_ad_size-item {
    margin-left: 34px;
}

.create_ad_size-checkbox {
    margin-right: 50px;
}

.create_ad_size-item-description {
    display: flex;
    flex-direction: column;
    width: 473px;
}

.create_ad_size-item-title {
    font-size: 28px;
    font-family: OpenSansBold;
    margin-bottom: 15px;
}

.create_ad_size-item-cost {
    font-family: OpenSansSemiBold;
    font-size: 24px;
    margin-bottom: 20px;
}

.create_ad_size-item-text {
    color: #838690;
    font-size: 14px;
    line-height: 20.68px;
}

.create_ad-blocks {
    margin-top: 120px;
}

.create_ad_block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECECEC;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
}



.create_ad-name {
    font-family: OpenSansBold;
    font-size: 18px;

}

.premium {
    width: 1009px;
    height: 299px;
}

.vip {
    width: 496px;
    height: 299px;
}

.standart_plus {
    width: 227px;
    height: 299px;
}

.standart {
    width: 178px;
    height: 240px;
}










