.create_ad_size-item {
    display: flex;
    align-items: center;
}

.create_ad_size-item + .create_ad_size-item {
    margin-top: 40px;
}

.create_ad_size-checkbox {
    margin-right: 50px;
}

.create_ad_size-item-description {
    display: flex;
    flex-direction: column;
    width: 473px;
}

.create_ad_size-item-title {
    font-size: 24px;
    font-family: OpenSansBold;
}

.create_ad_size-item-cost {
    font-family: OpenSansSemiBold;
    font-size: 20px;
    color: rgba(181, 183, 189, 1);
    margin-left: 30px;
}

.create_ad_size-item-text {
    color: #838690;
    font-size: 14px;
    line-height: 20.68px;
    margin-top: 20px;
}

.create_ad-blocks {
    margin-top: 120px;
}

.create_ad_block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECECEC;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
}



.create_ad-name {
    font-family: OpenSansBold;
    font-size: 18px;

}

.premium {
    width: 535px;
    height: 159px;
}

.vip {
    width: 263px;
    height: 158px;
}

.standart_plus {
    width: 120px;
    height: 158px;
}

.standart {
    width: 95px;
    height: 127px;
}










