@font-face {
  font-family: "OpenSansRegular";
  src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("./fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("./fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 400;
}

.w-315 {
  width: 315px;
}

.mt-20 {
  margin-top: 20px;
}
.mt-50 {
  margin-top: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-58 {
  margin-right: 58px;
}


.bold {
  font-family: OpenSansBold;
}

.semi_bold {
  font-family: OpenSansSemiBold;
}

.black {
  color: black;
}

body {
  font-family: OpenSansRegular;
}

.wrapper {
  width: 1400px;
  margin: 0 auto;
}

.relative{
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1518px;
  margin: 0 auto;
  border: 1px solid black;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.jy-center {
  justify-content: center;
}

.jy-end {
  justify-content: end;
}

.items-center {
  align-items: center;
}

.end {
  align-items: end;
}

.space-between {
  justify-content: space-between;
}