@font-face {
  font-family: "OpenSansRegular";
  src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("./fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("./fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 400;
}

body {
  font-family: OpenSansRegular;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1518px;
  margin: 0 auto;
  border: 1px solid black;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}
