.message_item {
    margin-left: -30px;
    width: calc(100% + 30px);
    height: 156px;
    transition: .25s;
    padding: 20px 30px;
    border-radius: 20px;
    position: relative;
}



.message_item:hover {
    background-color: rgba(246, 246, 246, 1);
}

.message_item + .message_item {
    margin-top: 20px;
}

.messages_header {
    margin-top: 77px;
    margin-bottom: 30px;
}

.message_item-checkbox {
    margin-right: 30px;
}

.message_item-content {
    margin-left: 30px;
}

.message_info {
    height: 116px;
    margin-left: 30px;
}

.message_info-title {
    font-size: 24px;
}

.message_info-text {
    margin-top: 5px;
    font-size: 18px;
}

.message_info-date {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 116px;
    font-size: 14px;
    color: rgba(181, 183, 189, 1);
}

.ad_status {
    font-size: 18px;
    margin-top: 20px;
}

.message_item-active {
    color: rgba(16, 201, 90, 1);
}

.message_item-expiration {
    color: rgba(252, 55, 42, 1);
}

.selectedMessages {
    width: 1035px;
    height: 78px;
    background-color: rgba(22, 22, 22, 1);
    color: white;
    border-radius: 20px;
    padding: 12px 12px 12px 50px;
    margin-top: 80px;
    margin-bottom: 228px;
}

.selectedMessages-text {
    font-size: 24px;
}